

.App {
  text-align: center;
  background-color: #282c34;
  height: 100vh;
}

.Top-Section {
  background-image: url("./images/background1.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Signup-button {
  border:1px solid white;
  border-radius:7%;
  font-size:0.875;
  width: 28%;
  height: 5vh;
  background-color: rgba(255,255,255, 0.2);
  color: white;
  font-size: 1em;
  border-radius: 7px;
  max-width: 150px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 5vmin;
  pointer-events: none;
}

.App-header {
  background-image: url("./images/background2.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.Bottom-section {
  background-image: url("./images/background3.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.lower-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
